.btn {
	  display: inline-block;
	  border-radius: 4px;
	  background-color: #fff;
	  border: none;
	  color: #ef4040;
	  text-align: center;
	  font-size: 20px;
	  padding: 10px;
	  width: 150px;
	  transition: all 0.5s;
	  cursor: pointer;
	  margin: 5px;
	  border:1px solid #ef4040;

	 span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.3s;
  	}

	 span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.3s;
  	}
	&:hover {
		border:1px solid #FFF;
		background: #ef4040;
		color:#FFF	;
	}
	&:hover span {
  		padding-right: 10%;
	}
	&:hover span:after {
  		opacity: 1;
  		right: 0;
	}
}
